<div class="container">
     <div class="row" style="margin-left:25%;">
      <div class="col-md-8" style="vertical-align:center; box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);">
                 <h3 style="text-align: center; margin-top:2%">Edit a picture</h3>
     
                 <%= render 'form' %> 
     
            <div style="text-align: center;"> <%= link_to "Cancel", pic_path %> </div>
     
       </div>
     </div>
</div>