<div   class ="container" style="width: 50%; margin-left: 40%; margin-top: 5%">
    <div class="col-md-6" style="vertical-align:center; box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);">
        <img src="https://entrecodigoyletras.files.wordpress.com/2016/05/instagram-logo.png?w=656" width="80%" alt="Instagram logo" />

        <h3 style="text-align: center;">Post a picture</h3>

            <%= render 'form' %> 

            <%= link_to 'Back', root_path %>

      </h1>
    </div>
</div>
